name: Build Android APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Flet
        run: pip install flet

      - name: Build APK
        run: flet build apk --no-interactive

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: build/flutter/android/app/build/outputs/flutter-apk/app-release.apk
